node_modules/
database.sqlite
test_database.sqlite
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
export_credentials
.idea
.env
.env.test
*-lock.json
*.log
*.zip


apimarket_config.json
.env.json