<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[Lumeos] Verify​ your ​email ​address</title>
</head>
<body style="margin:0; background-color: #f8fbfd; height: 100%; font-family: Helvetica, Arial, sans-serif;">
    <div>
        <p>Your username is:</p>
        <%= username %>
        <p>Visit this <a href="<%= HOST + link %>">link</a> to verify your email address:</p>
        <p>Please do not reply to this notification, this inbox is not monitored.</p>
        <p>If you are having a problem with your account, please email team@lumeos.io</p>
        <p>Thanks for using our app!</p>
    </div>
</body>
</html>